@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" asp-controller="admin" asp-action="CreateRole">Add a new role</a>

    foreach(var role in Model){
        <div class="card">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @role.Name
                </h5>

                <form method="post" asp-action="DeleteRole" asp-route-Id="@role.Id">
                    <a class="btn btn-primary" asp-controller="admin" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure youn want to delete user: @role.Name')">Delete</button>
                </form> 
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" asp-controller="admin" asp-action="CreateRole">Create Role</a>
        </div>
    </div>
}